**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.pytest_cache/
.coverage
htmlcov/
*.bak
*.tmp
**/*.inp
**/*.out
**/*.gbw
**/*.engrad
**/*.prop
**/*.hess
**/*.pc
**/*.xyz
**/*.trj
tmp/
plugins/Structural_Updater/structural_updater.json
new.json
old.json
*.log
